# Python cache
__pycache__/
*.py[cod]
*.pyo

# Build artifacts
build/
dist/
*.egg-info/
wheels/

# Virtual environments
.venv/
venv/
env/
tf_env/

# ML / experiment artifacts
mlruns/
mlflow.db
artifacts/
data/

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Optional: large files
*.csv
*.parquet
*.h5
*.pt
*.onnx